html {
  font-size: 18px;
}

html, body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "Fraunces", serif;
}

p, a {
  font-family: "Barlow", sans-serif;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
}

#hero {
  background: url("images/desktop/image-header.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
#hero .main-navbar .toggler-button span {
  color: white;
  font-size: 2rem;
}
#hero .main-navbar .navbar-button {
  background-color: white;
  color: #90d4c5;
  font-family: "Fraunces", serif;
  font-size: 1rem;
  border-radius: 30px;
  margin-left: 2rem;
  font-variant-caps: all-petite-caps;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
#hero .main-navbar .navbar-button:hover {
  background-color: #90d4c5;
  color: white;
}
#hero .main-navbar a {
  color: white;
  transition: 0.3s;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#hero .main-navbar a:hover {
  color: #90d4c5;
}
#hero .hero-caption {
  text-align: center;
}
#hero .hero-caption h1 {
  font-variant-caps: all-petite-caps;
  color: white;
  font-weight: 900;
  font-size: 3.5rem;
  letter-spacing: 0.5rem;
  margin-top: 5rem;
}
#hero .hero-caption img {
  margin-top: 4rem;
}

#main-content .text-box {
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  min-height: 400px;
  padding: 2rem;
}
#main-content img {
  width: 100%;
  max-height: 600px;
}
#main-content .link {
  position: relative;
}
#main-content .link:hover::before {
  border-radius: 5px;
  width: 100%;
  height: 4px;
  bottom: 3px;
  left: 0;
  opacity: 0.6;
}
#main-content .link-1::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fad400;
}
#main-content .link-2::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #fe7867;
}
#main-content .picture-text-box {
  position: relative;
  overflow: hidden;
}
#main-content .picture-text-box .inside-text-box {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 35%;
  left: 0;
  bottom: 0;
  opacity: 0.7;
}
#main-content .picture-text-box .inside-text-box h1, #main-content .picture-text-box .inside-text-box p {
  color: #23303e;
}
#main-content h1 {
  font-size: 1.8rem;
  color: #23303e;
  font-weight: 900;
}
#main-content p {
  color: #818498;
}
#main-content a {
  color: #23303e;
  font-family: "Fraunces", serif;
  font-variant-caps: all-petite-caps;
}
#main-content a:hover {
  text-decoration: none;
}

#testimonials {
  overflow: hidden;
}
#testimonials .testimonial-title {
  font-variant-caps: all-petite-caps;
  text-align: center;
}
#testimonials .testimonial-title > h1 {
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  color: #a7abae;
}
#testimonials .testimonial-card {
  width: 300px;
  text-align: center;
  line-height: 1.6rem;
  transition: 0.3s;
}
#testimonials .testimonial-card img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}
#testimonials .testimonial-card p {
  font-size: 0.7rem;
  color: #5a636c;
}
#testimonials .testimonial-card h2 {
  font-size: 1rem;
  color: #23303e;
}
#testimonials .testimonial-card h3 {
  font-size: 0.7rem;
  color: #818498;
  font-family: "Barlow", sans-serif;
}
#testimonials .testimonial-card h2, #testimonials .testimonial-card h3, #testimonials .testimonial-card p {
  transition: color 0.4s;
  transition-delay: 0.2s;
}
#testimonials .testimonial-card:hover {
  transform: scale(1.1);
  background-color: #fe7867;
}
#testimonials .testimonial-card:hover h2, #testimonials .testimonial-card:hover h3, #testimonials .testimonial-card:hover p {
  color: white;
}

#gallery {
  overflow: hidden;
  color: #90d4c5;
}
#gallery .gallery-carousel {
  width: 100vw;
  margin-left: -15px;
}
#gallery img {
  max-height: 600px;
}

footer {
  background-color: #90d4c5;
}
footer .social-bar > a {
  font-size: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
footer img {
  width: 180px;
}
footer a {
  color: #458c7e;
  text-decoration: none;
  transition: color 0.3s;
}
footer a:hover {
  color: white;
  text-decoration: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 989px) {
  #hero {
    background: url("images/mobile/image-header.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #hero .hero-caption h1 {
    font-size: 2.2rem;
  }
  #hero .main-navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navbar-collapse {
    margin-top: 2rem;
    background-color: white;
    padding: 3rem;
    text-align: center;
    position: relative;
  }
  .navbar-collapse::before {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    width: 0;
    height: 0;
    border-bottom: 32px solid white;
    border-left: 32px solid transparent;
    top: -32px;
    right: 0;
  }
  .navbar-collapse a {
    color: #5a636c !important;
  }
  .navbar-collapse button {
    background-color: #fad400 !important;
    color: #23303e !important;
    margin-top: 2rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
